@charset "UTF-8";
@import "../../../../sass.scss";

.main_sections {
  padding: 20px;
  margin: 20px 0px;
  @include h_gradient;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      width: 48%;
      float: left;
      &:nth-child(even) {
        float: right;
      }
      a {
        display: block;
        text-decoration: none;
        color: #333333;
        background: #fff;
        padding: 15px;
        margin: 10px 0px;
        border-radius: 4px;
        span.image_s {
          display: block;
          width: 90%;
          height: 100px;
          margin: 0px auto;
        }
        strong {
          font-size: 15px;
          display: block;
          padding: 10px 0px 5px 0px;
          text-align: center;
        }
        span {
          display: block;
          font-size: 14px;
          color: #666666;
          text-align: center;
        }
      }
    }
  }
}