@charset "UTF-8";
@mixin animation_0_25 {
	transition: all .25s ease-out;
	-webkit-transition: all .25s ease-out;
	-moz-transition: all .25s ease-out;
	-o-transition: all .25s ease-out;
	-ms-transition: all .25s ease-out;
}
@mixin box-sizing {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
}
@mixin box-shadow {
	-webkit-box-shadow: 0px 0px 10px #999;
    -moz-box-shadow: 0px 0px 10px #999;
    box-shadow: 0px 0px 10px #999;
}
@mixin box-shadow-none {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

@mixin h_gradient {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1180db+0,1dbc1a+49,20c7e5+98 */
	background: #1180db; /* Old browsers */
	background: -moz-linear-gradient(left, #1180db 0%, #1dbc1a 49%, #20c7e5 98%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #1180db 0%,#1dbc1a 49%,#20c7e5 98%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #1180db 0%,#1dbc1a 49%,#20c7e5 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1180db', endColorstr='#20c7e5',GradientType=1 ); /* IE6-9 */
}


$orange: #FF7737;
$orange2: #FBB045;
$orange3: #FDD395;
$blue:#1585C5;
$blue2:#82A9D1;
$gray:#F7F7F7;
$gray2:#E2E2E2;
$black:#333333;
$black2:#555555;
$horizontal_margin: 30px;





